.page-sfz{
    padding-left:30px;
    padding-right:30px;
    background: #fff;
    .t-section{
        margin-top: 50px;
        .t-box{
            width: 498px;
            height: 280px;
            border: 1PX solid #ddd;
            text-align: center;
            color: #555;
            .p1{
                margin-top: 50px;
                line-height: 1;
                .icon-shenfenzheng1{
                    font-size: 98px;
                    color: #7caee1;
                }
                .icon-shenfenzheng2{
                    font-size: 136px;
                    margin-top: -20px;
                    color: #7ad4b8;
                }
            }
            .p2{
                font-size: 34px;
                padding: 10px 0 0 0;
                &.fm{
                    margin-top: -16px;
                }
            }
            .p3{
                color: #999;
                font-size: 30px;
            }
        }
    }
    .sfz-main{
        width: 100%;
        height: 800px;;
        box-sizing: border-box;
        border: 1PX solid #ddd;
        margin: 20px auto 40px auto;
        .img-box{
            width: 270px;
            padding:130px 0 0 0; 
            margin: 0 auto;
        }
        .p1{
            font-size: 40px;
            color: #555;
            text-align: center;
            padding: 10px 0;
        }
        .p2{
            font-size: 32px;
            color: #999;
            text-align: center;
            line-height: 1.5;
        }
    }
    .sfz-btn{
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 130px;
        line-height: 130px;
        color: #fff;
        text-align: center;
        font-size: 42px;
        background: #0bb9ee;
        border-radius: 8px;
        cursor: pointer;
    }
    
}