.page-platform{
	.notice-line{
		padding: 0 30px;
		font-size: 38px;
        height: 120px;
        line-height: 120px;
		color: #888;
	}
	.edit-section{
        .form-line{
            height: 130px;
            line-height: 130px;
            border-top: 1PX solid #ddd;
            background: #fff;
            padding: 20px 50px 20px 350px;
            box-sizing: border-box;
            position: relative;
            .lab-tit{
                position: absolute;
                left: 50px;
                top: 0;
                height: 130px;
                line-height: 130px;
                width: 300px;
                display: inline-block;
                color: #555;
                font-size: 42px;
                letter-spacing: 4px;
            }
            .input-txt{
                width: 100%;
                display: block;
                box-sizing: border-box;
                line-height: 90px;
                border: none;
                outline: none;
                &[placeholder]{
                    font-size: 40px;
                    color:#ccc; 
                }
            }
        }
    }
    .prompt{
        margin-top: 60px;
    	padding: 40px 50px;
		font-size: 36px;
    	color: #888;    	
    	h3{
    		padding: 16px 0;
    	}
    	p{
			line-height: 2;
            font-size: 34px;
    	}
    }	
}