.page-sfz{
    padding-left:30px;
    padding-right:30px;
    background: #fff;
    .t-section{
        margin-top: 50px;
        .t-box{
            width: 498px;
            height: 280px;
            border: 1PX solid #ddd;
            text-align: center;
        }
    }
    .sfz-main{
        width: 100%;
        height: 800px;;
        box-sizing: border-box;
        border: 1PX solid #ddd;
        margin: 20px auto 40px auto;
    }
    .sfz-btn{
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 130px;
        line-height: 130px;
        color: #fff;
        text-align: center;
        font-size: 42px;
        background: #0bb9ee;
        border-radius: 8px;
        cursor: pointer;
    }
    
}