@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y38fpj');
  src:  url('fonts/icomoon.eot?y38fpj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y38fpj') format('truetype'),
    url('fonts/icomoon.woff?y38fpj') format('woff'),
    url('fonts/icomoon.svg?y38fpj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-edit1:before {
  content: "\e901";
  color: #707070;
}
.icon-fangzi:before {
  content: "\e902";
}
.icon-gantanhao:before {
  content: "\e903";
}
.icon-jiansheyinhang:before {
  content: "\e904";
}
.icon-jiaoyimima:before {
  content: "\e905";
}
.icon-laba:before {
  content: "\e906";
}
.icon-lianxiren:before {
  content: "\e907";
}
.icon-mine:before {
  content: "\e908";
}
.icon-mine2:before {
  content: "\e909";
}
.icon-no:before {
  content: "\e90a";
}
.icon-qianbao:before {
  content: "\e90b";
}
.icon-shenfenzheng1:before {
  content: "\e90c";
}
.icon-shenfenzheng2:before {
  content: "\e90d";
}
.icon-shoujirenzheng:before {
  content: "\e90e";
}
.icon-tuijian:before {
  content: "\e90f";
}
.icon-wenhao:before {
  content: "\e910";
}
.icon-yes:before {
  content: "\e911";
}
.icon-yinhangka1:before {
  content: "\e912";
}
.icon-yinhangka2:before {
  content: "\e913";
}
.icon-youhuiquan:before {
  content: "\e914";
}
.icon-zhangdan:before {
  content: "\e915";
}
.icon-zhimaxinyong:before {
  content: "\e916";
}
