@icomoon-font-path: "fonts";

@icon-arrow-right: "\e900";
@icon-edit1: "\e901";
@icon-fangzi: "\e902";
@icon-gantanhao: "\e903";
@icon-jiansheyinhang: "\e904";
@icon-jiaoyimima: "\e905";
@icon-laba: "\e906";
@icon-lianxiren: "\e907";
@icon-mine: "\e908";
@icon-mine2: "\e909";
@icon-no: "\e90a";
@icon-qianbao: "\e90b";
@icon-shenfenzheng1: "\e90c";
@icon-shenfenzheng2: "\e90d";
@icon-shoujirenzheng: "\e90e";
@icon-tuijian: "\e90f";
@icon-wenhao: "\e910";
@icon-yes: "\e911";
@icon-yinhangka1: "\e912";
@icon-yinhangka2: "\e913";
@icon-youhuiquan: "\e914";
@icon-zhangdan: "\e915";
@icon-zhimaxinyong: "\e916";

